Cite:
  Host: "http://[cite domain]"
  ListenPort: ":8080"
  RCRetentionDuration: "1h"
  Version: "DEV"
  
Aggregator:
  Host: "[fluentd aggregator domain]"

Buildbot:
  Host: "[buildboot url]"
  Webhook: "[buildboot change_hook url]"

LoadBalancer:
  Driver: netscaler
  
ElasticSearch:
  Host: "http://[elasticsearch endpoint]"
  KibanaHost: "http://[kibana endpoint]"

GitHub:
  AccessToken: "[github access token]"
  API: "https://api.github.com"
  ClientID: "[github client id]"
  ClientSecret: "[github client secret]"
  Host: "https://github.com"
  OAuthAuthURL: "https://github.com/login/oauth/authorize"
  OAuthTokenURL: "https://github.com/login/oauth/access_token"
  Scope: "repo,write:repo_hook"
  Username: "[collaborator userid]"
  WebhookURI: "/v1/github"

Grafana:
  Host: "http://[grafana url]"

Kubernetes:
  Master: "[kubernetes master url]"
  MaxPods: 20
  MinInitialDelay: 10
  MaxInitialDelay: 600
  PollInterval: 2
  PollTimeout: 600
  DefaultCPU: "250m"
  DefaultMemory: "1Gi"
  MaxCPU: "2000m"
  MaxMemory: "8Gi"

Notification:
  Slack:
    ClientID: "[slack client id]"
    ClientSecret: "[slack client secret]"
    RedirectURI: "/v1/notification/slack"
  Watchcenter:
    API: "http://[watchcenter url]"
  Default:
    Slack: [slack incoming webhook url]
